/* variables */
:root {
	--primary-color: #931420;
	--accent-color: #f6bb73;
	--light-accent: #fffded;
	--light: white;
	--dark: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* the default styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border: 3px solid var(--primary-color);
}
header, section, aside, footer { padding: 1em; }
h1, h2, h3, p, article, blockquote { padding-bottom: .5em; }
ul { margin-left: 1em; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:focus, a:hover { font-style: italic; }

/* the styles for the header */
header {
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(30deg, 
		var(--accent-color) 0%, 
		var(--light-accent) 25%, 
		var(--light) 50%, 
		var(--light-accent) 75%, 
		var(--accent-color) 100%);
	text-align: center;
	& h2 {
		font-size: 175%;
		color: var(--primary-color);
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
	}
	& img {
		float: left;
		margin: 0 30px;
		width: clamp(40px, 15%, 66px);
	}
}

/* the styles for the main element */
main {
	clear: left;
	display: flex;
	flex-direction: column;
}

/* the styles for the section */
section {
	& h1 {
		color: var(--primary-color);
	}
}

/* the styles for the article */
article {
	padding-top: .5em;
	margin-bottom: .5em;
	& img {
		float: left;
		margin: .25em 1em 1em 0;
		border: 1px solid var(--dark);
		width: min(100%, 225px);
	}
}

/* the styles for the aside */
aside {
	& h2 {
		color: var(--primary-color);
	}
	& img {
		margin-bottom: .9em;
	}
	& blockquote {
		font-style: italic;
		margin-left: .5em;
	}
}

/* the styles for the footer */
footer {
	background-color: var(--primary-color);
	& p {
		text-align: center;
		color: white;
		padding-bottom: 0; 
	}
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked ~ .menu {
	display: block;
}

input[type="checkbox"]:checked + .menu-btn::before {
	content: "✖";
}



.menu-btn {
	
	
	display: block;
	background-color: var(--primary-color);
	color: var(--light);
	border: none;
	padding: 0.5em 1em;
	font-size: 1.2em;
	cursor: pointer;
	&::before {
		content: "☰";
		margin-right: 0.5em;
	}
}
/* the styles for the navigation menu */
.navbar {
	clear: left;
	position: relative;
	
	background-color: var(--primary-color);
	& ul {
		list-style-type: none;
		margin: 0;
	}
	& a {
		display: block;
		padding: .75em;
		text-decoration: none;
		color: var(--light);
	}
	& a.current {
		color: var(--accent-color);
		font-weight: bold;
	}
	& a.current:hover { 
		font-style: normal; /* override hover effect */
	}
}

.menu {
	display: none;
	width: 20%;
	position: absolute;
	background-color: var(--primary-color);
	left : 0;
	top: 100%;
	& small::after { 
		content: "▶";
		margin-left: .25em;
	 }
}




.submenu {
	
	position: absolute;
	top : 40%;
	left: 100%;
	
	background-color: var(--primary-color);
	color: var(--light);
	display: none;
	& > li a { margin: 2px; }
	

	
}

.menu li:hover .submenu {
	display: block;
	
}




/* the media query for the page */
@media only screen and (min-width: 620px) {
	header {
		text-align: left;
	}
	main {
		flex-direction: row;
	}
	section {
		order: 2;
		flex-basis: 75%;
	}
	aside {
		order: 1;
		flex-basis: 25%;
	}
}

@media (min-width: 784px) {

	.navbar {
		clear: left;
		background-color: var(--primary-color);
		position: relative;
		& a {
			
			margin: 0 1px 2px;
		}
		& a:link, a:visited { 
			color: var(--light);
		}
		& a:hover, a:focus, a.current {
			
			color: var(--accent-color);
		}
		& ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		
	}

	.menu-btn {
		display: none;
		
	}

	.menu {
		display: flex;
		position: relative;
		width : 100%;
		& li { 
			flex-basis: 20%; 
			text-align: center;
		}

		& small::after { 
			content: "▼";
			margin-left: .25em;
		 }
	
}


	.submenu {
		position: absolute;
		left: 0;
		top: 100%;
		background-color: var(--primary-color);
		color: var(--light);
		width: auto;
		display: none;
	}
	
	.menu li:hover .submenu {
		display: block;
		left: auto;
		width: 20%;
		top: 100%;
	}
	
	input[type="checkbox"] {
	display: none;
}




input[type="checkbox"]:checked ~ .menu {
	display: flex;
}

}
	